{
   "tabWidth": 3,
   "useTabs": false,
   "prettier.arrowParens": "always",
   "prettier.bracketSpacing": true,
   "prettier.endOfLine": "lf",
   "prettier.jsxBracketSameLine": false,
   "prettier.jsxSingleQuote": true,
   "prettier.semi": true,
   "prettier.singleQuote": true,
   "prettier.trailingComma": "none"
}
