{
   "tabWidth": 3,
   "useTabs": false,
   "arrowParens": "avoid",
   "bracketSpacing": true,
   "endOfLine": "lf",
   "jsxBracketSameLine": false,
   "jsxSingleQuote": true,
   "semi": true,
   "singleQuote": true,
   "trailingComma": "none"
}
